@{
    ViewBag.Title = "房租";
}
<script src="~/Scripts/Views/Rent_Index.js"></script>
<link href="~/Content/Views/Rent_Index.css" rel="stylesheet" />

<input type="hidden" id="AId" value="@ViewBag.AId">
<div class="row m-0 bg-white fixed-top">
    <div class="row m-0 pt-4 pb-2 invisible">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row m-0 pb-2 invisible">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row m-0 pb-4 invisible">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="row bg-info bg-opacity-50 fixed-top m-0">
    <div class="row justify-content-center m-0 pt-4 pb-2">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <span class="input-group-text">月份</span>
                <input type="text" id="YYMM" class="form-control text-center" />
                <span class="input-group-text">月</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-0 pb-2">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <span class="input-group-text">應付</span>
                <input type="text" id="Payable" class="form-control text-center" readonly value="-" />
                <span class="input-group-text">元</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-0 pb-4">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <span class="input-group-text">實付</span>
                <input type="text" id="Paid" class="form-control text-center" readonly value="-" />
                <span class="input-group-text">元</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 invisible">
    <div class="row m-0 pt-4 pb-2">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row m-0 pb-2">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row m-0 pb-4">
        <div class="col-12 col-md-7 col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-9 col-lg-6 mt-4">
        <div class="accordion" id="RentAccordion">

        </div>
    </div>
</div>
<button type="button" class="btn btn-success fixed-bottom-right" data-bs-toggle="modal" data-bs-target="#ExpenditureModal">
    新增
</button>

<div class="modal fade" id="ExpenditureModal" tabindex="-1" aria-labelledby="ExpenditureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ExpenditureModalLabel">支出</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉" id="closeExpenditureModal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="expenditureId"/>
                <div class="mb-3">
                    <label for="payer" class="form-label">付款者</label>
                    <div id="payer" class="row"></div>
                </div>
                <div class="mb-3">
                    <label for="shareIds" class="form-label">分攤者</label>
                    <div id="shareIds" class="row"></div>
                </div>
                <div class="mb-3">
                    <label for="expenseDate" class="form-label">付款日期</label>
                    <input type="text" class="form-control" id="expenseDate">
                </div>
                <div class="mb-3">
                    <label for="item" class="form-label">支出項目</label>
                    <input type="text" class="form-control" id="item">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">價格</label>
                    <input type="number" class="form-control" id="price">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="isInstallment">
                    <label class="form-check-label" for="isInstallment">是否分期</label>
                </div>
                <div class="mb-3">
                    <label for="periods" class="form-label">分期期數</label>
                    <input type="number" class="form-control" id="periods" value="0">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="isAlways">
                    <label class="form-check-label" for="isAlways">是否永遠付款</label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveBtn">儲存</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
    </div>
</div>