@{
    ViewBag.Title = "首頁";
}
<script src="~/Scripts/Views/Home_Index.js"></script>

<style>
    /* 隱藏導覽列的 CSS */
    .navbar {
        display: none;
    }
</style>


<div class="row">
    <div class="col-12 col-md-7 col-lg-5 position-absolute top-50 start-50 translate-middle">
        <label for="LoginId" class="form-label">帳號</label>
        <input type="text" class="form-control" id="LoginId" aria-describedby="emailHelp">
        <label for="Password" class="form-label mt-4">密碼</label>
        <input type="password" class="form-control" id="Password" aria-describedby="emailHelp">
        <button type="button" class="btn btn-outline-info mt-4" id="Login">登入</button>
        <button type="button" class="btn btn-outline-info mt-4 float-end" data-bs-toggle="modal" data-bs-target="#registerModal">註冊</button>
    </div>
</div>

<!-- 註冊模態框 -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">註冊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="registerLoginId" class="form-label">帳號</label>
                    <input type="text" class="form-control" id="registerLoginId">
                </div>
                <div class="mb-3">
                    <label for="registerPassword" class="form-label">密碼</label>
                    <input type="password" class="form-control" id="registerPassword">
                </div>
                <div class="mb-3">
                    <label for="registerConfirmPassword" class="form-label">再次確認密碼</label>
                    <input type="password" class="form-control" id="registerConfirmPassword">
                </div>
                <div class="mb-3">
                    <label for="registerName" class="form-label">姓名</label>
                    <input type="text" class="form-control" id="registerName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="registerbtn">註冊</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeRegisterModal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>