@{
    ViewBag.Title = "首頁";
}
<script src="~/Scripts/Views/Home_Index.js"></script>

<div class="row">
    <div class="col-12 col-md-7 col-lg-5 position-absolute top-50 start-50 translate-middle">
        <label for="LoginId" class="form-label">帳號</label>
        <input type="text" class="form-control" id="LoginId" aria-describedby="emailHelp">
        <label for="Password" class="form-label mt-4">密碼</label>
        <input type="password" class="form-control" id="Password" aria-describedby="emailHelp">
        <button type="button" class="btn btn-outline-info mt-4" id="Login">登入</button>
    </div>
</div>